@import url("reset.css");
/*********************/
/* Class Definitions */
/*********************/
.hoverTable tr:hover {
    background-color: #000080;
}

.vodinfo:hover .vodtooltip {
    display: block;
    opacity: 1;
}

.vodtooltip {
    height: auto;
    display: block;
    background: #000000;
    margin-left: 0px;
    padding: 10px;
    position: absolute;
    top: 375px;
    z-index: 1000;
    width: auto;
    -webkit-transition: opacity 0.3s ease-out;
    opacity: 0;
    overflow: hidden;
}

.user_header {
    float: right;
    padding: 5px 5px 5px 5px;
}

.center {
    position: absolute;
    top: 30%;
    left: 45%;
}

.top {
    margin-top: 200px;
}

.hidden {
    display: none;
}

th,td {
    padding: 5px;
}

/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #5c8499;
}

/* selected link */
a:active {
    color: #5c8499;
}

/**********/
/* Layout */
/**********/
body {
	background:#1a1a1a url(/img/bg.png) center top no-repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#ffffff
}

p {
    padding: 10px;
}

tr {
    text-align: left;
}

#wrapper {
    margin: 0 auto;
    width: 1150px;
}

#headerwrap {
    width: 1100px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 40px;
    margin: 5px;
}

#contentwrap {
    width: 650px;
    float: left;
    margin: 0 auto;
}

#content {
    margin: 5px;
}

#rightcolumnwrap {
    width: 450px;
    max-height: 300px;
    min-height: 300px;
    float: left;
    margin: 0 auto;
	overflow-y: scroll;
    border: 1px solid #5c8499;
}

#rightcolumn {
    border-radius: 10px;
    margin: 5px;
}

#footerwrap {
    width: 1100px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    margin: 5px;
}