<div id="logged_in_footer" ng-app="userLoginModule" ng-controller="vodController">

<div id="contentwrap">
    <div id="content">
        <div id="twitch_embed_player"></div>
        <p>
        Vod Url: <input type="text" id="vodUrl" value="">
        <button ng-click="loadNewVod()" >Load Video</button>
    </div>
</div>

<div id="rightcolumnwrap">
    <div id="rightcolumn" >
        <table>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Recorded</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="x in names" ng-mouseover="vodMouseOver(x)" >
                <td><a href="#" ng-click="loadVod(x)">{{ x.VodName }}</a></td>
                <!-- <td>{{ x.Stream }}</td> -->
                <td>{{ x.ReplayTime }}</td>
                <td>{{ x.Recorded }}</td>
                <td><a href="#" ng-click="removeVod(x)"><img src="../img/delete_20x20.png"></a></td>
            </tr>
        </table>
    </div>
</div>

<div id="footerwrap">
    <div id="footer"></div>
</div>

</div>

</div>
</body>
</html>
