<div id="logged_in_footer" ng-app="userLoginModule" ng-controller="vodController">

<div id="contentwrap">
    <div id="content">
        <div id="twitch_embed_player"></div>
        <p>
        Vod Url: <input type="text" id="vodUrl" value="">
        <button ng-click="loadNewVod()" >Load Video</button>
    </div>
</div>

<div id="rightcolumnwrap">
    <div id="rightcolumn" >
        <table class="hoverTable" style="width: 100%;">
            <colgroup>
                <col width="100%" />
                <col width="0%" />
            </colgroup>
            <tr>
                <th>VOD</th>
                <th></th>
            </tr>
            <tr ng-repeat="x in names">
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;"><div class="vodinfo"><a href="#" ng-click="loadVod(x)">{{ x.VodName }}</a><div class="vodtooltip"><div>Name: {{ x.VodName }}</div><div>Stream: {{ x.Stream }}</div><div>Start: {{ x.FormattedReplayTime }}</div><div>Duration: {{ x.FormattedDuration }}</div><div>Recorded: {{ x.Recorded }}</div></div></div></td>
                <td style="white-space: nowrap;"><a href="#" ng-click="removeVod(x)"><img src="../img/trash-icon_18x18.png"></a></td>
            </tr>
        </table>
    </div>
</div>

<div id="footerwrap">
    <div id="footer"></div>
</div>

</div>

</div>
</body>
</html>
